.navContainer{
    width: 100%;
    min-height: 6rem;
    background-color: var(--white);
    /* padding: 0 5em; */
   
    background-color: var(--white2);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.insideContainer{
    max-width: 1600px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 3.5rem;
    font-size: 1em;  

}
.logo{
    color: var(--letterColorIsActive);
    font-size: 2.1em;
    margin-right: 1em;
    cursor: pointer;
 
}
.ul{
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 0.2em;
    z-index: 1;
}
.login{
    font-size: 2em;
    margin-left: 1em;
    margin-bottom: -1px;
    
}

.link{
    padding: 0.5em 0.6em;
    font-size: 1.1em;
    color: var(--black);
    border-radius: 1em;
    border: 2px solid ;
    border-color: transparent;
}
.link2{
    padding: 0.5em 0.6em;
    font-size: 1em;
    color: var(--black);
    border-radius: 1em;
    border: 2px solid ;
    border-color: transparent;
    color: var(--letterColorIsActive);
}

.hanburger{
    display: none;
}

/* promotion */
.promotion{
    width: 100%;
    min-height: 3rem;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.5em 0em;
    padding-left: 1.9em;
    padding-right: 3.5rem;

}
.button{
    width: 80px; 
    padding: 0.4em 0em;
    font-size: 1.1em;
    font-weight: bold;
    border-radius: 0.3em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap !important;
}

.opcions{
    width: 100%;
    background-color: var(--grayLigth);
    display: flex;
    justify-content: center;
    border-top: 2px solid var(--grayLigthBorder);
}
.items{
    max-width: 1600px;
    width: 100%;
    min-height: 2em;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    padding-left: 1em;
    padding-right: 3.5em;

}
.icons{
    display: flex;
    align-items: center;
    gap: 1em;
    
   
}
.shopingCard{
    font-size: 1.7em;
    cursor: pointer;
    margin-left: 1em;
    transition: all 0.3s ease;
}
.dolar{
    font-size: 1.2rem;
}
.currentValue{
    display: flex;
    align-items: center;
    font-size: 1.2em;
    position: relative;

}
.productSelected{
    background-color: var(--productColor);
    min-width: 1.7em;
    min-height: 1.7em;
    padding: 0rem 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 0.7em;
    position: absolute;
    left: 65px;
    bottom: 16px;
    color: var(--white2);
   
    
}
.value{
    height: 1em;
    display: flex;
    align-items: center;
    margin-top: 0.1em;
}
.serchBox{
    display: flex;
    overflow: hidden;
    transition: margin-left 0.3s ease; 
 
    border: 1px solid var(--grayLigthBorder);
    border-radius: 2em;
   
}

.inputSerch{
    border: none;

    border-radius: 1em 0 0 1em;
    outline: none;
    padding-left: 1em;
    font-size: 1.3em;
    margin-left: 0.2rem;
   
}
.heart{
    font-size: 1.4em;
    cursor: pointer;
    transition: all 0.3s ease;
}
.profileIcon{
    font-size: 1.4em;
    cursor: pointer;
    transition: all 0.3s ease;
}
.heart:hover{
    color: var(--productColor);
    transform: scale(1.1);

}
.serch{
    background-color: var(--white2);
    padding: 0.4em;
    border-radius: 0 1em 1em 0;
    cursor: pointer;
}
.serchIcon{
    transform: rotate(90deg);
    margin-right: 0.5em;
}
.productosLinks{
    display: block;
}
.serchBox2{
    display: none;
}

@media screen and (max-width:1250px) {
    .productosLinks{
        display: none;
    }
    .items{
        justify-content: end;
    }
    
}
@media screen and (max-width:810px) {
    .ul{
        display: none;
    }
    .productosLinks{
        display: none;
    }
    .logo{
        color: var(--black);
        font-size: 2em;
        margin-right: 2em;
    }
    .insideContainer{
        width: 100%;
    
    }
    .hanburger{
        display: block;
        font-size: 2em;
    }
    .items{
        justify-content: center !important;
    }
}
@media screen and (max-width:655px) {
   .serchBox2{
    display: block;
    background-color: var(--grayLigth) !important;
   }
   .serchBox{
    display: none;
   }
    
}

@media screen and (max-width:375px) {
    .ul{
        display: none;
    }
    .logo{
        color: var(--black);
        font-size: 0.5em !important;
        margin-right: 2em;
    }
    .insideContainer{
        width: 100%;
    
    }
    .navContainer{
        padding: 0 1em;
       
    }
    .hanburger{
        display: block;
        font-size: 2em;
    }
}
@media screen and (max-width:500px) {
    .ul{
        display: none;
    }
    .logo{
        color: var(--black);
        font-size: 1.5em !important;
        margin-right: 2em;
    }
    .insideContainer{
        width: 100%;
    
    }

    .hanburger{
        display: block;
        font-size: 2em;
    }
}