*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --white:rgb(245,245,245);
    --grayLigth:rgb(228,230,235);
    --grayLigthBorder:rgb(212, 209, 209);
    --letterColorIsActive: #04364A; 
    --grayDark:rgb(63,74,82);
    --black:rgb(12,18,28);
}

.isActive{
    background-color: var(--grayLigth);
    border: 2px solid var(--grayLigthBorder);
    font-weight: 600;
    transition: background-color 0.5s ease;
    color: var(--letterColorIsActive);
    border-color: var(--grayLigthBorder) !important;
}
body{
    background-color: var(--grayLigth);
    font-family: 'Poppins', sans-serif;
}